*{
  box-sizing: border-box;
}

figure{
  margin: 0;
}
.App {
  text-align: center;
  height: 100%;
}

.App-contenedor{
  background-color: #282c34;
  color: #ffff;
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: calc(10px + 2vmin);
  height: 100%;
}

.Cards-container{
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-evenly;
}

.Card{
  border: 1px white solid;
  border-radius: 10px;
  max-width: 300px;
  margin: 10px;
}

.Card-image figure img{
  border-radius: 10px;
}

.Card-description{
  padding: 0 30px;
}

.Card-name{
  white-space: nowrap;
  overflow: hidden;
  text-align: center;
}

.Card:hover{
  cursor: pointer;
}

.Card-image figure img:hover {
  filter: invert(100%);
}

.Modal{
  position: fixed;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, .9);
}

.Card-detalle{
  background-color: #282c34;
  display: flex;
  flex-direction: row;
  align-items: center;
  border-radius: 10px;
  font-size: calc(10px + 2vmin);
  color: #ffff;
  top: 0
}

.Card-detalle-descripcion{
  width: 100%;
  padding: 30px;
}

.Caracteristica{
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.Caracteristica p {
  margin: 5px;
}

.Caracteristica-valor{
  color: #17ff75;
}

.InputBusqueda{
    display: flex;
    width: 100%;
    margin: 20px;
    justify-content: center;
    height: 30px;
}
.InputSubmit{
  font-size: 18px;
  font-family: Verdana,Helvetica;
  font-weight: bold;
  color: white;
  background: #638cb5;
  border: 0px;
  width: 80px;
  margin: 0 0 0 10px;
  height: 30px;
  border-radius: 10px;
}

@media screen and (max-width: 570px){
  .Cards-container{
    justify-content: center;

  }
  .Card-detalle {
    flex-direction: column;
}
  .Card-detalle-descripcion{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap-reverse;
  }
}